---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/sections/Header.astro";
import Socials from "@/components/sections/Socials.astro";
import Featured from "@/components/sections/Featured.astro";
import Buttons from "@/components/sections/Buttons.astro";
import Footer from "@/components/sections/Footer.astro";
import Steam from "@/icons/Steam.astro";
import SplashCursor from "@/components/SplashCursor.jsx";
---

<Layout title="link-uri">
  <SplashCursor client:only="react" />

  <main>
    <Header />
    <Socials />
    <!-- Poza <Featured /> -->
    <Buttons />
  </main>

  <Footer />

  <img
    src="https://lanyard.cnrad.dev/api/268156620050006017"
    alt="status"
    class="responsive-image"
  />
</Layout>

<style>
  .responsive-image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {
    .responsive-image {
      max-width: 50%;
    }
  }

  .splash {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(0, 153, 255, 0.5);
    border-radius: 50%;
    pointer-events: none;
    animation: splash-fade 0.5s ease-out;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  @keyframes splash-fade {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(2);
    }
  }

  main {
    width: 100%;
  }
</style>
