---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/sections/Header.astro";
import Socials from "@/components/sections/Socials.astro";
import Footer from "@/components/sections/Footer.astro";
import Presence from "@/components/presence/Presence.jsx";
import DitherBackground from "@/components/background/DitherBackground.jsx";
import DitherToggleButton from "@/components/background/DitherToggleButton.jsx";
import SplashToggleButton from '../components/scripts/SplashToggleButton.jsx';
import SplashCursorWrapper from "@/components/scripts/SplashCursorWrapper.jsx";
// import Featured from "@/components/sections/Featured.astro";

---

<Layout title="link-uri">
   <SplashCursorWrapper client:only="react" />
    <div class="ditherfix">
      <DitherBackground client:only="react" />
    </div>
  <main>
    <Header />
    <Socials />
    <!-- <Featured /> -->
    <Footer />
    <Presence client:only="react"/>
    <DitherToggleButton client:only="react"/>
    <SplashToggleButton client:only="react"/>
  </main>
</Layout>

<style>
  .responsive-image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {
    .responsive-image {
      max-width: 50%;
    }
  }

  .ditherfix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    pointer-events: auto;
  }

  .ditherfix canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  main {
    width: 100%;
    position: relative;
    z-index: 1;
  }
</style>
